#text{
    font-size: 2em;
    text-align: right;
    height: 75%;
    margin: 2px;
    padding-right: 0.4rem;
    padding-left: 1.1rem;
    width: 91%;
    border: none;
    background: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-overflow: ellipsis
}
#text2{
    font-size: 1.8em;
    text-align: right;
    height: 25%;
    padding-right: 0.4rem;
    padding-left: 2rem;
    width: 86%;
    margin: 2px;
    border: none;
    background: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-overflow: ellipsis
}
#text:focus , #text2:focus{
    outline: none;
}